@font-face {
    font-family: "Gropled";
    src: url("./fonts/Gropled/GropledBold.woff2") format("woff2"),
        url("./fonts/Gropled/GropledBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
